* {
    box-sizing: border-box;
}

.no-horizontal-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-horizontal-scrollbar{
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-width: 100%;
    overflow-x: hidden;
}

button {
    font-family: 'Raleway';

}

